.heading,
.subheading,
.mainarea {
    font-family: Helvetica, sans-serif;
    color: #222;
}

.heading,
.subheading {
    margin-top: 30px;
    text-align: center;
}

.subheading {
    margin-bottom: 40px;
}

.mainarea {
    width: 70%;
    margin: 0 auto;
}

.searchform {
    margin: 0 auto;
    text-align: center;
}

.searchform input {
    height: 30px;
    border-radius: 5px;
    box-shadow: 0;
    font-size: 16px;
}
